body {
    background-image: url(../images/what-the-hex.png);
    margin: 0;
    padding: 0 0 70px 0;
}


.about-img-container {
    margin: 0 20px 0 0;
    float: left;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}