body {
    background-image: url(../images/what-the-hex.png);
    margin: 0;
    padding: 0 0 70px 0;
}


.about-img-container {
    margin: 0 20px 0 0;
    float: left;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}
.main-content {
    margin-top: 20px;
}
.navbar-brand {
    margin-bottom: 0;
    background-color: #4aaaa5;
    width: 180px;
    text-align: center;
    padding: 15px;

}
.navbar {
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
    height: 60px;
}


/* 
Teal color (used for headings and backgrounds): #4aaaa5
Regular font color (used for paragraphs and all text besides the headings): #777777
Main header background color: #ffffff
Main header border color: #cccccc
Footer background color: #666666
Main content background color: #ffffff
Main content border color: #dddddd
Fonts:

For heading fonts use font-family: 'Georgia', Times, Times New Roman, serif;.
For all other fonts use 'Arial', 'Helvetica Neue', Helvetica, sans-serif;. */